/* styles/global.css */
body {
    font-family: 'Arial, sans-serif';
    background-color: #1f2937; /* Color de fondo oscuro */
    color: #ffffff; /* Color de texto blanco */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    background-color: #111827; /* Fondo del header */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-input, .category-dropdown {
    padding: 0.5rem;
    margin-left: 1rem;
    border-radius: 5px;
    border: none;
  }
  
  .new-property-button {
    background-color: #4b5563;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .user-section {
    display: flex;
    align-items: center;
  }
  
  .user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .main-content {
    padding: 2rem;
  }
  
  .table-container {
    background-color: rgba(207, 206, 206, 0.333);
    border-radius: 0.8rem;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 1rem;
    text-align: left;
  }
  
  th {
    background-color: #4b5563;
    color: #ffffff;
  }
  
  tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  tr:hover {
    background-color: rgba(209, 205, 205, 0.4);
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .pagination button {
    background-color: #4b5563;
    color: #ffffff;
    border: none;
    padding: 0.5rem;
    margin: 0 0.2rem;
    border-radius: 5px;
    cursor: pointer;
  }
  